<h3>All users</h3>

<ul class="users">
    {{#each users}}
    <li>{{current_session}}</li>
    <li>{{this.first_name}} {{this.last_name}}</li>

    <li>
    <form action="/users/addfriend" method = "POST">
    <input type="hidden" id={{@index}} name="id" value={{this.id}}>
    <button class="friendButton" id={{this.id}} onclick="another()" style = 'background-color: rgb(227, 227, 227);' type="submit">Add friend</button>
    </form>
    <br>
    </li>
    <script>
        function tester(event) {
            debugger
            event.preventDefault()
            console.log("testing testing")
        }
    </script>


    {{/each}}

    <script>
        function another(event) {
            {{!-- debugger --}}
            event.preventDefault()
            console.log("this is a TEST potato")
        }
    </script>

</ul>

<script>
function friendRequestStatus() {
    console.log("BANANA")
        var buttonArray = Array.from(document.getElementById({{this.id}}));
        console.log(buttonArray)
        buttonArray.map(function (buttonText, index, array) {
        if(buttonText.innerHTML == "Add friend"){
        buttonText.innerHTML = "Unfriend"
        } else {
        buttonText.innerHTML = "Add friend"
        }
        })
}

</script>  


